@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main_box{
  /* position: relative; */
  /* background: url('ocean.jpeg') right no-repeat; */
  /* background-size: cover; */
  height: 100vh;
  width: 100%;
}
.main_box .sidebar_menu{
  position: fixed;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
  z-index: 9;
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 157, 255, 0.856);
}
.sidebar_menu .logo a{
  color:  rgba(135, 206, 235, 1);
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}
.sidebar_menu .menu{
  position: absolute;
  top: 80px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 14px 20px;
}
.sidebar_menu .menu i{
  color: #000000;
  font-size: 20px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.sidebar_menu .menu .logout{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background:transparent;
  border:none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #00ffe1;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  /* position: fixed; */
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: rgb(0, 200, 255);
  opacity: 6;
  font-size: 20px;
  font-weight: 900;
  height: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.btn_one{
  position: fixed;
  z-index: 33;
}
.main_box .btn_one i{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}
section{
  height: 100vh;
  width: 100%;
  background-color: rgb(252, 252, 252);
}


.parallax{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
#text{
  position: absolute;
  font-size: 5rem;
  color: black;
}
.parallax img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#text{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-family:monospace;
  text-shadow: 2px 5px 4px rgba(0,0,0,.2);
  
}

/* //portfolio */

.about{
  background: url(About/bg3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #359381;
  
}
.about_container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card{
  position: relative;
  width: 550px;
  height: 350px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
  border: 1 solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  border-bottom: 1px solid #d5cccc24;
}
.top span{
  font-size: 20px;
  padding: 20px;
}
/* .top i{
  font-size: 30px;
  padding: 10px;
  border-radius: 30%;
}
.top i:hover{
  background: rgba(0,0,0,.2);
  cursor: pointer;
} */
.middle{
  display: flex;
  flex-direction: row;
  padding: 20px 30px 0px 30px;
}
.middle img{
  width: 170px;
  border-radius: 50%;
  border: 5px solid transparent;
  outline: 3px dashed rgba(255, 255, 255, 0.25);
}
.middle .right{
  margin: 20px 0px 10px 50px;
}
ul li{
  list-style-type: circle;
}
.social-icon{
  display: flex;
  margin-top: 10px;
  flex-direction: row;
}
.social-icon a{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #359381;
  color: #359381;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-decoration: none;
  margin: 0 5px;
  transition: .5px;
  cursor: pointer;
}
.social-icon a:hover{
  color: white;
  background: #359381;
  transform: translateY(-4px);
  box-shadow: inset 0px 0 0 15px #359381;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 30px;
}
.btn{
    background: #359381;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    border: solid 2px white;
    margin: 0 5px;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
  color: #359381;
  background: white;
  border: solid 2px #359381;
  transform: translateY(-4px);
    /* box-shadow: inset 0 0 0 20px #359381; */
}